.logo {
	background-image: url('https://www.minnpost.com/sites/default/themes/siteskin/inc/images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	@include hide-text;
	//margin-top: 1.5em;
	//margin-bottom: -1px;
	width: 234px;
	height: 33px;
}
// media queries
@media screen and (min-width: $small-screen) {
	.logo {
		width: 264px;
		height: 37px;
	}
}
@media screen and (min-width: $nav-breaks) {
	.logo {
		float: left;
		width: 330px;
		height: 46px;
		margin-top: 1.5em;
	}
}