/* @license
 * MyFonts Webfont Build ID 1773029, 2011-12-21T17:04:15-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Nimbus Sans Novus D Cond Bold by URW++
 * URL: http://www.myfonts.com/fonts/urw/nimbus-sans-novus/d-condensed-bold/
 * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 * Licensed pageviews: 1,000,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1773029
 * 
 * © 2011 Bitstream Inc
*/



  
@font-face {font-family: 'NimbusSanNovConD-Bol';src: url('../fonts/webfonts/28AEA4_0_0.eot');src: url('../fonts/webfonts/28AEA4_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/28AEA4_0_0.woff') format('woff'),url('../fonts/webfonts/28AEA4_0_0.ttf') format('truetype');}
