.support--summary {

}

.two-radios {
	background: $gray-lightest;
	border-radius: $base-border-radius;
	margin-bottom: 0.5em;
	> label {
      padding: $half-space $base-spacing 0 $base-spacing;
    }
	> label:last-child {
      padding-top: 0;
      padding-bottom: $half-space;
    }
	&.form-item input {
		margin: 0;
	}
}

.anniversary-sponsorship-image {
	margin: $half-space auto;
	display: block;
}

@media screen and (min-width: $large-screen) {
	.support--summary, .support--confirm, .support--post-confirm {
		@include row();
		> fieldset {
			@include span-columns(6);
			border: 0;
			padding: 0;
		}
	}
	.two-radios {
	    @include row();
	    > label {
	      @include span-columns(6);
	    }
	    > label:last-child {
	      text-align: right;
	      padding: $half-space $base-spacing 0 $base-spacing;
	    }
	  }
}