<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>MinnRoast {{ year }} Sponsorship</h1>
    
      <p>Please join us as a sponsor of MinnRoast 2016 - MinnPost's 9th annual song-and-skit variety show featuring your favorite local politicians, journalists, and media types. The show will be held on Friday, April 15th at the Historic State Theatre in downtown Minneapolis.</p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="amount" value="500" required /> Sgt. Peppercorns - $500</label>
        <label><input type="radio" name="amount" value="1500" required /> Hot Mamas &amp; Papas - $1,500</label>
        <label><input type="radio" name="amount" value="3000" required /> Four Seasonings - $3,000</label>
        <label><input type="radio" name="amount" value="5000" required /> Smokey &amp; the Miracle Workers - $5,000</label>
        <label><input type="radio" name="amount" value="8000" required /> Reception Host - $8,000</label>
        <p><a href="https://www.minnpost.com/minnroast#tickets">Learn more about sponsorship levels and benefits</a></p>
      </fieldset>

  </div>

  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}" step="any">
    </div>
  </fieldset>
  
</section>