<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MinnPost | Anniversary Party Sponsorship</title>
  <link rel="shortcut icon" href="https://www.minnpost.com/sites/default/themes/siteskin/favicon.ico" type="image/x-icon" />

  <link rel="apple-touch-icon" href="https://www.minnpost.com/sites/default/themes/siteskin/inc/images/apple-touch-icon.png" />

  <link href="{{ url_for('static', filename='css/main.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-3385191-1', 'auto');
  ga('require', 'displayfeatures');
  ga('require', 'ec');
  ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

</head>
<body>
  <header class="l-header" id="header">
    <div class="wrapper">
      <a class="logo" rel="home" href="https://www.minnpost.com/">MinnPost</a>
      <input type="checkbox" class="menu-show menu-show--secondary" name="menu-show--secondary" id="menu-show--secondary">
      <label for="menu-show--secondary" class="menu-show-label menu-show--secondary-label"><span class="burger"></span>Menu</label>

      <nav class="utilities">
        <ul class="menu menu--secondary">
          <li><a href="https://www.minnpost.com/columns">Columns</a></li>
          <li><a href="https://www.minnpost.com/weather">Weather</a></li>
          <li><a href="https://www.minnpost.com/events">Events</a></li>
          <li><a class="active" onclick="_gaq.push(['_trackEvent','Header','Support Us']);" href="https://www.minnpost.com/support">Support Us</a></li>
        </ul>
      </nav>

      <nav class="sections">
        <ul class="menu menu--primary">
          <li class="menu-555 link-id--front link-home link-num-1 link-num--10 first">
            <a class=" link-id--front link-home link-num-1 link-num--10" href="https://www.minnpost.com/">Home</a>
          </li>
          <li class="menu-789 link-politics-policy link-politics-policy link-num-2 link-num--9">
            <a class=" link-politics-policy link-politics-policy link-num-2 link-num--9" title="Politics &amp; Policy" href="https://www.minnpost.com/politics-policy">Politics &amp; Policy</a>
          </li>
          <li class="menu-790 link-health link-health link-num-3 link-num--8">
            <a class=" link-health link-health link-num-3 link-num--8" title="Health" href="https://www.minnpost.com/health">Health</a>
          </li>
          <li class="menu-791 link-education link-education link-num-4 link-num--7">
            <a class=" link-education link-education link-num-4 link-num--7" title="Education" href="https://www.minnpost.com/education">Education</a>
          </li>
          <li class="menu-792 link-environment link-environment link-num-5 link-num--6">
            <a class=" link-environment link-environment link-num-5 link-num--6" title="Environment" href="https://www.minnpost.com/environment">Environment</a>
          </li>
          <li class="menu-794 link-arts-culture link-arts-culture link-num-6 link-num--5">
            <a class=" link-arts-culture link-arts-culture link-num-6 link-num--5" title="Arts &amp; Culture" href="https://www.minnpost.com/arts-culture">Arts &amp; Culture</a>
          </li>
          <li class="menu-793 link-business link-business link-num-7 link-num--4">
            <a class=" link-business link-business link-num-7 link-num--4" title="Business" href="https://www.minnpost.com/business">Business</a>
          </li>
          <li class="menu-795 link-sports link-sports link-num-8 link-num--3">
            <a class=" link-sports link-sports link-num-8 link-num--3" title="Sports" href="https://www.minnpost.com/sports">Sports</a>
          </li>
          <li class="menu-1600 link-news-region link-news-by-region link-num-9 link-num--2">
            <a class=" link-news-region link-news-by-region link-num-9 link-num--2" title="By Region" href="https://www.minnpost.com/news-region">News by Region</a>
          </li>
          <li class="menu-1513 link-perspectives link-perspectives link-num-10 link-num--1 last">
            <a class=" link-perspectives link-perspectives link-num-10 link-num--1" title="Perspectives" href="https://www.minnpost.com/perspectives">Perspectives</a>
          </li>
          </ul>
        </nav>

    </div>
  </header>

  {% block content %}{% endblock %}
    
  <footer>
    <div class="wrapper">

    </div>
  </footer>

  <!--[if lt IE 9]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!--<![endif]-->

  <script src="https://js.stripe.com/v2/"></script>
  {% if show_ach == True %}<script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>{% endif %}
  <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>

  <script>
  // main.js
  $(document).ready(function() {
    // call plugin and pass options if need be
    $('.support--forms').minnpost_giving({
      'stripe_publishable_key' : '{{key}}',
      'tabs' : false,{% if show_ach == True %}
      'plaid_env' : '{{plaid_env}}',
      'plaid_public_key' : '{{plaid_public_key}}',{% endif %}
    });
  });
  </script>

</body>
</html>
