@import "../tools/neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
 $max-width: em(975);

// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(640);
$nav-breaks: em(805);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

$border-box-sizing: true;