html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  color: $heading-font-color;
  margin: 0 0 $small-spacing;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: $heading-font-color;
  text-decoration: none;
}

/*
$modular-scale-ratio: 1.295;
h1 {
  font-size: modular-scale(5);
  line-height: 1.1;
}

h2 {
  font-size: modular-scale(4);
    line-height: 1.4; 
}

h3 {
  font-size: modular-scale(3);
}

h4 {
  font-size: modular-scale(2);
}

h5 {
  font-size: modular-scale(1);
}

h6 {
  font-size: modular-scale(0);
}
*/

h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}
h5 {
  font-size: $h5-size;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
    text-decoration: underline;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.active {
    color: $black;
  }

}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

div.caption {
  margin-top: -$half-space;
  margin-bottom: $h4-size;
  font-family: $heading-font-family;
}