<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>{{ heading }}</h1>
    
      {% if summary != '' %}
      <p>{{ summary|safe }}</p>
      {% endif %}

  </div>

  {% if amount == '' or show_amount_field == True %}
  <fieldset class="clear-block">
    <div class="form-item form-item--amount">
      <label for="amount" class="required">Amount: </label>
      <div class="input-prepend">
        <span class="prefix">$</span>
        <input type="number" id="amount" name="amount" value="{{ amount }}" min="1" step="any" required>
      </div>
    </div>
  </fieldset>
  {% endif %}

  {% if allow_additional == True %}
  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}" step="any">
    </div>
  </fieldset>
  {% endif %}
  
</section>