<fieldset class="billing">
    
  <div class="form-item form-item--street">
    <label for="edit-billing-street" class="required">Street Address: </label>
    <input type="text" name="billing_street" id="billing_street" required>
  </div>

  <div class="location-group">
    <div class="form-item form-item--city">
      <label for="edit-billing-city" class="required">City: </label>
      <input type="text" name="billing_city" id="billing_city" required>
    </div>

    <div class="form-item form-item--state">
      <label for="edit-billing-state" class="required">State: </label>
      <input type="text" name="billing_state" id="billing_state" required>
    </div>
  </div>

  <div class="form-item form-item--zip">
    <label for="edit-billing-zip" class="required">Zip Code: </label>
    <input type="tel" name="billing_zip" id="edit-billing-zip" required>
    <div class="caption show-country"><a href="#" id="billing_show_country"><small>Not in the US?</small></a></div>
  </div>

  <div class="form-item form-item--nojs form-item--country">
    <label>Country: </label>
    <input type="text" name="billing_country" id="billing_country">
  </div>

  {% if shipping == True %}
  <div class="form-item-group">
    <div class="form-item" id="useforshipping-wrapper">
      <label class="option" for="useforshipping">
      <input type="checkbox" name="useforshipping" id="useforshipping" value="1"  checked="checked"  class="form-checkbox" /> Use this address for shipping</label>
    </div>
  </div>
  {% endif %}

</fieldset>

{% if shipping == True %}
<fieldset class="shipping">

  <div class="form-item-group form-item--shipping-name">
    <div class="form-item form-item--shipping-name">
      <label for="edit-shipping-name">Ship To (if different): </label>
      <input type="text" name="shipping_name" id="shipping_name">
    </div>
  </div>

  <div class="form-item form-item--street">
    <label for="edit-shipping-street">Shipping Street Address: </label>
    <input type="text" name="shipping_street" id="shipping_street">
  </div>

  <div class="city-state">
    <div class="form-item form-item--city">
      <label for="edit-shipping-city">Shipping City: </label>
      <input type="text" name="shipping_city" id="shipping_city">
    </div>

    <div class="form-item form-item--state">
      <label for="edit-shipping-state">Shipping State: </label>
      <input type="text" name="shipping_state" id="shipping_state">
    </div>
  </div>

  <div class="form-item form-item--zip">
    <label for="edit-shipping-zip">Shipping Zip Code: </label>
    <input type="tel" name="shipping_zip" id="shipping_zip">
    <div class="caption show-shipping-country"><a href="#" id="shipping_show_country"><small>Not in the US?</small></a></div>
  </div>

  <div class="form-item form-item--nojs form-item--shipping-country">
    <label for="edit-shipping-country">Shipping Country: </label>
    <input type="text" name="shipping_country" id="shipping_country">
  </div>

</fieldset>
{% endif %}