<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->

  <fieldset class="amount">
    <h3>Donate $<span class="level-amount">{{ amount }}</span> <span class="frequency" data-year-freq="{{ yearly }}">{{ frequency }}</span></h1>
    <ul class="actions actions--edit-amount clear-block">
      <li><a href="https://www.minnpost.com/support/" id="edit_url">Edit</a></li>
      <li><label><input type="checkbox" value="1" id="edit-pay-fees" name="pay_fees"> Cover MinnPost's credit card fees</label></li>
    </ul>
  </fieldset>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>
    
    <div class="form-item form-item--display-name">
      <div>
        <label for="display_as">Display as (in our year-end report): </label>
        <input type="text" id="display_as" name="display_as">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Make this donation anonymously</label>
      </div>
    </div>

    {% with shipping=true %}
    {% include 'includes/address-fields.html' %}
    {% endwith %}

    <div class="form-item form-item--email-address">
      <div>
        <label for="edit-email" class="required">Email Address: </label>
        <input type="email" id="edit-email" name="email" required value="{{ email }}">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
      </div>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label for="password">MinnPost.com Password: </label>
      <input type="password" name="password" id="password" maxlength="128">
    </div>

    {% include 'includes/card-or-ach.html' %}

    <button type="submit" class="btn btn--submit give" autocomplete="off">Place this Donation</button>

  </fieldset>

</section>