<section class="panel panel--form" id="panel--review">
  <div class="support support--summary">
    <fieldset class="amount">
      <h1>$<span class="level-amount">{{ amount }}</span> <span class="frequency" data-year-freq="{{ yearly }}">{{ frequency.title() }}</span> Donation</h1> <!-- load server-side from parsing querystring -->
      <ul class="actions actions--edit-amount clear-block">
        <li><a href="https://www.minnpost.com/support/" id="edit_url">Edit</a></li>
        <li><label><input type="checkbox" value="1" id="edit-pay-fees" name="pay_fees"> Cover MinnPost's credit card fees</label></li>
      </ul>
      <fieldset class="honor">
        <p>This donation is <a href="#" class="in-honor">in honor</a> or <a href="#" class="in-memory">in memory</a>...</p>
        <fieldset class="in-honor">
          <h3>In honor of</h3>
          <div class="form-item form-item--honoree-name">
            <label>Name <input type="text" id="in-honor-name" name="in_honor_name"></label>
            {% if allow_donation_notification == 'True' %}<label>Notify someone? <input type="checkbox" value="1" class="notify_someone" name="in_honor_notify" id="in-honor-notify"></label>{% endif %}
          </div>
          {% if allow_donation_notification == 'True' %}<div class="form-item form-item--notify">
            <label>Email (we will send a message if you put an address here) <input type="email" id="in-honor-email" name="in_honor_email"></label>
            <label>Include Amount? <input type="checkbox" value="1" name="in_honor_amount" id="in-honor-amount"></label>
          </div>{% endif %}
        </fieldset>
        <fieldset class="in-memory">
          <h3>In memory of</h3>
          <div class="form-item form-item--memory-name">
            <label>Name <input type="text" id="in-memory-name" name="in_memory_name"></label>
            {% if allow_donation_notification == 'True' %}<label>Notify someone? <input type="checkbox" value="1" class="notify_someone" name="in_memory_notify" id="in-memory-notify"></label>{% endif %}
          </div>
          {% if allow_donation_notification == 'True' %}<div class="form-item form-item--notify">
            <label>Email (we will send a message if you put an address here) <input type="email" id="in-memory-email" name="in_memory_email"></label>
            <label>Include Amount? <input type="checkbox" value="1" name="in_memory_amount" id="in-memory-amount"></label>
          </div>{% endif %}
        </fieldset>
      </fieldset> <!-- this should trigger the fields for reporting, and also for emailing to the user specified with/without the amount -->
    </fieldset>
    <fieldset class="benefits">
      <h2 class="level level--{{ level.levelint }}">MinnPost <span class="level-name">{{ level.level.title() }}</span></h2>  <!-- load server-side from parsing querystring -->
      <p><span class="swag swag--{{ main_swag_minimum_level }}">Choose your thank you gift below.</span> You can <span class="swag swag--{{ main_swag_minimum_level }}">also</span> <a href="https://www.minnpost.com/support/member-benefits/?level={{ level.level }}" class="review-benefits">review all MinnPost <span class="level-name">{{ level.level.title() }}</span> benefits</a>.</p>  <!-- load server-side from parsing querystring -->
      <label class="swag swag--{{ main_swag_minimum_level }}"><input type="radio" name="swag" value="mug" id="swag-mug"> <div><img src="/static/img/mug.png" alt="Coffee Mug"></div></label>
      <label class="swag swag--{{ main_swag_minimum_level }}"><input type="radio" name="swag" value="water bottle" id="swag-bottle"> <div><img src="/static/img/waterbottle.png" alt="Water Bottle"></div></label>
      <label class="swag swag--{{ main_swag_minimum_level }}"><input type="radio" name="swag" value="None" id="swag-no"> <div>Give entire amount to MinnPost</div></label>
      <p class="swag swag--separate swag--{{ separate_swag_minimum_level }}">Also, <strong>MinnPost Gold and Platinum</strong> members are entitled to a 1-year subscription to The Atlantic. This offer is available each year that you qualify. More information is available in <a href="/static/documents/atlantic-subscription-details.pdf" target="_blank">this document</a>.</p>
      <fieldset class="swag swag--{{ separate_swag_minimum_level }}">
        <label><input type="radio" value="new" id="atlantic_new" name="swag_atlanticsubscription" class="swag--shipping"> Start a new subscription</label>
        <label><input type="radio" value="existing" id="atlantic_existing" name="swag_atlanticsubscription" class="swag--shipping"> Extend an existing subscription</label>
        <div class="form-item form-item--atlantic_id" >
          <label>Existing Subscription ID
          <input type="text" value="" id="atlantic_id" name="atlantic_id" autocorrect="off" autocapitalize="off">
          </label>
        </div>
        <label><input type="radio" value="decline" id="atlantic_decline" name="swag_atlanticsubscription" class="swag--shipping"> Decline this item</label>
      </fieldset>
      <!-- load all swag/redeemable things from server; activate the eligible ones with javascript. not a huge deal if js hiccups here since it gets validated by person anyway -->
    </fieldset>
  </div>
  <!-- load upsell options server-side from parsing querystring for current level. we only display it if it is within our range (currently $1 away from next level, unless it is bronze where we show all the time) -->
  {% if (show_upsell == 'True' and level.levelint <= 3) and (frequency != 'one-time' and (amount * yearly / 12) >= level.nextlevelmonthlystart - 1|float or amount >= level.nextlevelmonthlystart * 12 - level.nextlevelmonthlystart) %}
  <fieldset class="well well--upsell clear-block">
    <h3>MinnPost {{ level.nextlevel.title() }} benefits start at ${{ level.nextlevelmonthlystart }} per month, or ${{ level.nextlevelmonthlystart * 12 }} per year.</h3>
    {% if level.nextlevel == 'silver' %}
    <p>Joining at this level gets you member benefits, including MinnPost events, a mug or water bottle, and supplemental content.</p>
    {% elif level.nextlevel == 'gold' %}
    <p>Joining at this level gets you additional member benefits, including a one-year new subscription or extension to The Atlantic, and chances to get free tickets to MinnPost partner events and attractions.</p>
    {% elif level.nextlevel == 'platinum' %}
    <p>Joining at this level gets you additional member benefits, including an invitation to our free, annual &ldquo;Inside MinnPost&rdquo; event.</p>
    {% endif %}
    <a href="#" class="btn btn--text btn--upsell">Add $<span class="upsell-amount">1</span> per month</a>
  </fieldset>
  {% endif %}
  
  <a href="/give/?step=panel--pay" class="btn btn--next">Payment</a>

</section>