<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>MinnPost's Ninth Anniversary Party</h1>
    
      <p>Join us as a sponsor of our Ninth Anniversary celebration – A Post-Election Conversation with Norm Ornstein &amp; Sen. Al Franken on Tuesday, Nov. 15, at the Cowles Center for Dance and the Performing Arts. </p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="amount" value="5000" required /> $5,000 - <strong>Presenting Sponsorship</strong>: Edward R. Murrow (email <a href="mailto:awallmeyer@minnpost.com">Andy Wallmeyer</a> for more information)</label>
        <label><input type="radio" name="amount" value="2400" required /> $2,400 - <strong>Tier I</strong>: Ida Tarbell (eight tickets + benefits)</label>
        <label><input type="radio" name="amount" value="1200" required /> $1,200 - <strong>Tier II</strong>: Carl Rowan (six tickets + benefits)</label>
        <label><input type="radio" name="amount" value="600" required /> $600 - <strong>Tier III</strong>: A.J. Leibling (four tickets + benefits)</label>
        <label><input type="radio" name="amount" value="300" required /> $300 - <strong>Tier IV</strong>: I.F. Stone (two tickets + benefits)</label>
        <p><a href="https://www.minnpost.com/9#tickets" target="_blank">Learn more about sponsorship levels and benefits</a></p>
      </fieldset>

  </div>

  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}" step="any">
    </div>
  </fieldset>
  
</section>