<section class="panel panel--form" id="panel--pay">

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First Name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last Name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>

    <div class="form-item form-item--organization">
      <label for="organization">Organization: </label>
      <input type="text" id="organization" name="organization" value="{{ organization }}">
    </div>

    <div class="form-item form-item--email-address">
      <label for="edit-email" class="required">Email Address: </label>
      <input type="email" id="edit-email" name="email" required value="{{ email }}">
    </div>

    <div class="form-item form-item--display-name">
      <div>
        <label for="display_as">Display as (in public recognition materials): </label>
        <input type="text" id="display_as" name="display_as">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Remain anonymous</label>
      </div>
    </div>

    {% include 'includes/address-fields.html' %}
    
    {% include '/includes/card-or-ach.html' %}

    <div class="form-item form-item--comments">
      <label>Comments:
      <textarea id="reason_for_supporting" cols="20" rows="4" name="reason_for_supporting"></textarea></label> <!-- could send to Givalike and/or ajax -->
      <label class="additional-option" id="reason_shareable" for="reason_shareable"><input type="checkbox" checked="checked" name="reason_shareable" id="reason_shareable" value="1"> MinnPost has permission to post this comment on the website. </label>
    </div>
    

    <button type="submit" class="btn btn--submit give" autocomplete="off">Submit your sponosorship</button>

  </fieldset>

</section>