<fieldset class="event-details vevent">
	<h1>Event Details</h1>
	<div class="summary">
		<h2>Basketball Season Preview with Britt Robson</h2>
		<p>Join MinnPost to discuss the upcoming season and watch the season opener with MinnPost journalist Britt Robson.</p>
		</div>
	<div class="date">
		<h3><strong>Wednesday, October 26</strong></h3>
		<p>6:30pm</p>
	</div>
	<div class="location">
		<h3><strong>Elsie's</strong></h3>
		<p>729 Marshall St NE, Minneapolis, MN 55413 (<a href="https://www.google.com/maps/place/Elsie's/@44.995039,-93.266074,15z/data=!4m2!3m1!1s0x0:0x8535c29330ca744c?sa=X&ved=0ahUKEwiN3KrR2dXOAhWIdh4KHc0fBcMQ_BIIeTAM" target="_blank">map</a>)</p>
	</div>

	<div title="Add to Calendar" class="addeventatc">
	    Add to Calendar
	    <span class="start">10/26/2016 06:30 PM</span>
	    <!--<span class="end">08/17/2016 07:30 PM</span>-->
	    <span class="timezone">America/Chicago</span>
	    <span class="title">Basketball Season Preview with Britt Robson</span>
	    <span class="description">Join MinnPost to discuss the upcoming season and watch the season opener with MinnPost journalist Britt Robson.</span>
	    <span class="organizer">MinnPost</span>
	    <span class="organizer_email">members@minnpost.com</span>
	    <span class="all_day_event">false</span>
	    <span class="date_format">MM/DD/YYYY</span>
	</div>

</fieldset>