{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <div class="img-wrapper">
      <img src="https://s3.amazonaws.com/static.texastribune.org/media/marketing/TT-support_thankyou.png" />
    </div>
    <div class="outer-section">
      <div class="six">
        <p>Your donation bolsters our mission as the only member-supported, digital-first, nonpartisan media organization that works to inform and engage Texans about public policy, politics, government and statewide issues.</p>
      </div>
    </div>
    <div class="outer-section">
      <div class="six">
        <a href="//www.texastribune.org/"><button class="button button-flat">Go to The Texas Tribune</button></a>
      </div>
    </div>
  </div>
{% endblock %}