{% extends "layout.html" %}

{% block content %}
<section class="progress progress--donation">
  <div class="wrapper">
    <ol>
      <li class="panel--review"><span>Review</span></li>
      <li class="panel--pay"><span>Payment</span></li>
      <li class="panel--confirmation"><span>Thank You</span></li>
    </ol>
  </div>
</section>

<main>
  <div class="wrapper support--forms">
    <section id="panel--error" class="panel--error">
      <h1>Sorry, there has been an issue</h1>
      <p>{{ message }}</p>
    </section>
  </div>
</main>
{% endblock %}