{% extends "layout.html" %}

{% block content %}
<section class="progress progress--donation">
  <div class="wrapper">
    <ol>
      <li class="panel--review"><span>Review</span></li>
      <li class="panel--pay"><span>Payment</span></li>
      <li class="panel--confirmation"><span class="active">Thank You</span></li>
    </ol>
  </div>
</section>

<main>
  <div class="wrapper support--forms">
    <section id="panel--confirmation" class="panel panel--form">
  	 <h1>Thank you for supporting MinnPost</h1>
  	 <p>You're all done. Thanks again for your support of MinnPost.</p>
    </section>
  </div>
</main>
{% endblock %}