{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <div class="outer-section">
      <p class="nine">This page is for internal use for Texas Weekly subscriptions.</p>
    </div>
    <form action="/submit-tw" method="post">
      {{ form.csrf_token }}
      <div class="form-outer-section outer-section">
        <h2>Texas Weekly Subscription Info</h2>
        <div class="form-section three">
          <label>Amount</label><br>
            <span class="dollar">$</span>
              {{ form.amount(value=amount, class="dollar") }}
        </div>
        <div class="form-section three">
          {{ form.first_name.label }}<br>
            {{ form.first_name(maxlength=50) }}
        </div>
        <div class="form-section three">
          {{ form.last_name.label }}<br>
            {{ form.last_name(maxlength=50) }}
        </div>
        <div class="form-section form-error">
          <p class="error-form-message"></p>
        </div>
      </div>
      {{ form.description(value='Texas Weekly Subscription') }}
      <div class="form-outer-section">
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <button id="customButton" class="button button-flat">Submit</button>
      </div>
    </form>
    {% include 'includes/stripe_checkout_js.html' %}
  </div>
{% endblock %}
