{% extends "layout.html" %}

{% block content %}
  <div class="main">
    <div class="outer-section">
      <p class="nine">Thank you for supporting The Texas Tribune by becoming a member! Visit <a href="http://support.texastribune.org/">our donation page</a> if you want to choose a different membership level. If you'd prefer to make a one-time donation, you can do so on <a href="/donateform">this page</a>.</p>
    </div>
    <form action="/charge" method="post">
      {{ form.csrf_token }}
      <div class="outer-section form-outer-section">
        <h2>Membership Info</h2>
        <div class="form-section three">
          <label>{% if installment_period == 'yearly' %}Annual{% endif %}{% if installment_period == 'monthly' %}Monthly{% endif %} Amount</label><br>
            <span class="dollar">$</span>
              {{ form.amount(readonly=true, value=amount, class="dollar uneditable") }}
        </div>
        <div class="form-section three">
          {{ form.pay_fees.label }}
            {{ form.pay_fees(checked=False) }}
          <p id="pay-fee-amount" class="label-info"><span></span>{% if installment_period == 'yearly' %} yearly{% endif %}{% if installment_period == 'monthly' %} monthly{% endif %}</p>
          <p id="pay-fee-info">Paying these tax-deductible fees directs more money in support of the Tribune’s mission.</p>
        </div>
        {% if installment_period and amount %}
        <div class="form-section three">
          <label>Membership</label><br>
            <p class="label-info">{% if installment_period == 'yearly' %}Annual{% endif %}{% if installment_period == 'monthly' %}Monthly{% endif %} Until Canceled</p>
          <label>Level</label><br>
          <p class="level label-info"></p>
        </div>
        {% endif %}
      </div>
      {% include 'includes/form_inner.html' %}
      {{ form.description(value='The Texas Tribune Membership') }}
    </form>
  </div>
  {% if installment_period and amount %}
    {% include 'includes/display_levels_js.html' %}
  {% endif %}
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
