{% extends "minnpost-advertising/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <form action="/minnpost-advertising-confirm/" method="post" class="support support--donate" id="donate">
      {{ form.csrf_token }}

      <input type="hidden" name="recurring" id="recurring" value="one-time">
      <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
      <input type="hidden" name="campaign" id="campaign" value="{{ campaign }}">
      <input type="hidden" name="description" id="description" value="MinnPost Advertising">
      <input type="hidden" name="opp_type" id="opp_type" value="{{ opp_type }}">
      <input type="hidden" name="opp_subtype" id="opp_subtype" value="{{ opp_subtype }}">

      {% include 'minnpost-advertising/includes/details.html' %}
      {% include 'minnpost-advertising/includes/pay.html' %}

    </form>
  </div>
</main>

{% endblock %}
