{% extends "minnpost-minimal-form/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <form action="{{ confirm_url }}" method="post" class="support support--donate" id="donate">
      {{ form.csrf_token }}

      {% if amount != '' %}
      <input type="hidden" name="amount" id="amount" value="{{ amount }}">
      {% endif %}
      <input type="hidden" name="recurring" id="recurring" value="one-time">
      <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
      {% if opp_id %}
      <input type="hidden" name="opp_id" id="opp_id" value="{{ opp_id }}">
      {% endif %}
      {% if recurring_id %}
      <input type="hidden" name="recurring_id" id="recurring_id" value="{{ recurring_id }}">
      {% endif %}
      <input type="hidden" name="campaign" id="campaign" value="{{ campaign }}">
      <input type="hidden" name="pledge" id="pledge" value="{{ pledge }}">
      <input type="hidden" name="description" id="description" value="{{ description }}">
      {% if opp_type %}
      <input type="hidden" name="opp_type" id="opp_type" value="{{ opp_type }}">
      {% endif %}
      {% if opp_subtype %}
      <input type="hidden" name="opp_subtype" id="opp_subtype" value="{{ opp_subtype }}">
      {% endif %}
      <input type="hidden" name="redirect_url" id="redirect_url" value="{{ redirect_url }}">

      <input type="hidden" name="billing_street_geocode" id="billing_street_geocode" value="">
      <input type="hidden" name="billing_city_geocode" id="billing_city_geocode" value="">
      <input type="hidden" name="billing_state_geocode" id="billing_state_geocode" value="">
      <input type="hidden" name="billing_zip_geocode" id="billing_zip_geocode" value="">
      <input type="hidden" name="billing_country_geocode" id="billing_country_geocode" value="">

      {% include 'minnpost-minimal-form/includes/details.html' %}
      {% include 'minnpost-minimal-form/includes/pay.html' %}

    </form>
  </div>
</main>

{% endblock %}
