{% extends "layout.html" %}

{% block content %}
<section class="progress progress--donation">
	<div class="wrapper">
	  <ol>
	    <li class="panel--review"><a href="/give/?amount={{ amount }}&amp;frequency={{ frequency }}&amp;customer_id={{ customer_id }}&amp;campaign={{ campaign }}&amp;step=panel--review">Review</a></li>
	    <li class="panel--pay"><a href="/give/?amount={{ amount }}&amp;frequency={{ frequency }}&amp;customer_id={{ customer_id }}&amp;campaign={{ campaign }}&amp;step=panel--pay">Payment</a></li>
	    <li class="panel--confirmation"><span>Thank You</span></li>
	  </ol>
	</div>
</section>

<main>
	<div class="wrapper support--forms">
	  <form action="/thanks/" method="post" class="support support--donate" id="donate">
	    {{ form.csrf_token }}

	    <input type="hidden" name="amount" id="amount" value="{{ amount }}">
	    <input type="hidden" name="recurring" id="recurring" value="{{ frequency }}">
	    <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
	    <input type="hidden" name="campaign" id="campaign" value="{{ campaign }}">
	    <input type="hidden" name="description" id="description" value="MinnPost Membership">

	    <input type="hidden" name="billing_street_geocode" id="billing_street_geocode" value="">
	    <input type="hidden" name="billing_city_geocode" id="billing_city_geocode" value="">
	    <input type="hidden" name="billing_state_geocode" id="billing_state_geocode" value="">
	    <input type="hidden" name="billing_zip_geocode" id="billing_zip_geocode" value="">
	    <input type="hidden" name="billing_country_geocode" id="billing_country_geocode" value="">

	    <input type="hidden" name="shipping_street_geocode" id="shipping_street_geocode" value="">
	    <input type="hidden" name="shipping_city_geocode" id="shipping_city_geocode" value="">
	    <input type="hidden" name="shipping_state_geocode" id="shipping_state_geocode" value="">
	    <input type="hidden" name="shipping_zip_geocode" id="shipping_zip_geocode" value="">
	    <input type="hidden" name="shipping_country_geocode" id="shipping_country_geocode" value="">

	    {% include 'includes/review.html' %}
	    {% include 'includes/pay.html' %}

	  </form>
	</div>
</main>

{% endblock %}
