{% extends "minnroast-sponsorship/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <img src="/static/img/campaigns/MR2016SponsorPageLogo.png" alt="MinnPost presents MinnRoast 2016" />

    <form action="/minnroast-sponsorship-confirm/" method="post" class="support support--donate" id="donate">
      {{ form.csrf_token }}

      <input type="hidden" name="recurring" id="recurring" value="one-time">
      <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
      <input type="hidden" name="campaign" id="campaign" value="{{ campaign }}">
      <input type="hidden" name="description" id="description" value="MinnRoast Sponsorship">
      <input type="hidden" name="opp_type" id="opp_type" value="{{ opp_type }}">
      <input type="hidden" name="opp_subtype" id="opp_subtype" value="{{ opp_subtype }}">
      <input type="hidden" name="redirect_url" id="redirect_url" value="{{ redirect_url }}">

      <input type="hidden" name="billing_street_geocode" id="billing_street_geocode" value="">
      <input type="hidden" name="billing_city_geocode" id="billing_city_geocode" value="">
      <input type="hidden" name="billing_state_geocode" id="billing_state_geocode" value="">
      <input type="hidden" name="billing_zip_geocode" id="billing_zip_geocode" value="">
      <input type="hidden" name="billing_country_geocode" id="billing_country_geocode" value="">

      {% include 'minnroast-sponsorship/includes/details.html' %}
      {% include 'minnroast-sponsorship/includes/pay.html' %}

    </form>
  </div>
</main>

{% endblock %}
