{% extends "minnpost-minimal-form/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

  	<form>
  		<input type="hidden" name="flask_id" id="flask_id" value="{{ session['flask_id'] }}">
  		<input type="hidden" name="sf_type" id="sf_type" value="{{ session['sf_type'] }}">
	    <section id="panel--confirmation" class="panel panel--form">
			<h1>Thank you for supporting MinnPost</h1>
			<p>You're all done. Thanks again for your support of MinnPost.</p>
	    </section>
	</form>

  </div>
</main>
{% endblock %}