<section class="panel panel--form" id="panel--attendees">
	<h1>Attendees</h1>
	<p>You are purchasing <span class="quantity">{{ quantity }}</span> <span class="purchase-item" data-single="ticket" data-plural="tickets">ticket</span>{% if quantity != 1 %}s{% endif %}<span class="has_additional" data-text=", and adding an additional donation of $<span class='additional_donation'>{{ additional_donation }}</span>,"></span>{% if additional_donation %}, and adding an additional donation of $<span class="additional_donation">{{ additional_donation }}</span>,{% endif %} for a total of <strong>$<span class="calculated-amount">{{ amount }}</span></strong>. Please tell us about the <span class="attendee-title" data-single="person" data-plural="people">{% if quantity != 1 %}people{% else %}person{% endif %}</span> who will be attending this event. We'll use email addresses to share event information and post-event surveys with attendees.</p>
	<div class="attendees">
	{% for _ in range(0, quantity) %}
		<fieldset class="attendee">
			<div class="form-item form-item--attendee-name">
		      <label for="attendee_name_{{ loop.index }}" class="required">Name: </label>
		      <input type="text" id="attendee_name_{{ loop.index }}" name="attendee_name_{{ loop.index }}" required value="{% if loop.index == 1 %}{{ first_name }} {{ last_name }}{% endif %}">
		    </div>
		    <div class="form-item form-item--attendee-email-address">
		      <label for="attendee_email_{{ loop.index }}">Email Address: </label>
		      <input type="email" id="attendee_email_{{ loop.index }}" name="attendee_email_{{ loop.index }}" value="{% if loop.index == 1 %}{{ email }}{% endif %}">
		    </div>
		</fieldset>
	{% else %}
		<p>No quantity of tickets has been selected.</p>
	{% endfor %}
	</div>

	<a href="/event-register/?step=panel--pay" class="btn btn--next">Payment</a>

</section>