<fieldset class="event-details vevent">
	<h1>Event Details</h1>
	<div class="summary">
		<h2>First Presidential Debate Party: Watch with MinnPost</h2>
		<p>Join MinnPost to watch the first presidential debate with MinnPost journalists Eric Black and Cyndy Brucato.</p>
		</div>
	<div class="date">
		<h3><strong>Monday, September 26</strong></h3>
		<p>7:30pm</p>
	</div>
	<div class="location">
		<h3><strong>A-Mill Artist Lofts</strong></h3>
		<p>315 SE Main St, Minneapolis, MN 55414 (<a href="https://www.google.com/maps/place/A-Mill+Artist+Lofts/@44.9838233,-93.2529845,15z/data=!4m5!3m4!1s0x0:0xd31d1c217389a6c7!8m2!3d44.9838233!4d-93.2529845" target="_blank">map</a>)</p>
	</div>

	<div title="Add to Calendar" class="addeventatc">
	    Add to Calendar
	    <span class="start">09/26/2016 07:30 PM</span>
	    <!--<span class="end">08/17/2016 07:30 PM</span>-->
	    <span class="timezone">America/Chicago</span>
	    <span class="title">First Presidential Debate Party: Watch with MinnPost</span>
	    <span class="description">Join MinnPost to watch the first presidential debate with MinnPost journalists Eric Black and Cyndy Brucato.</span>
	    <span class="organizer">MinnPost</span>
	    <span class="organizer_email">members@minnpost.com</span>
	    <span class="all_day_event">false</span>
	    <span class="date_format">MM/DD/YYYY</span>
	</div>

</fieldset>