<section class="panel panel--form" id="panel--tickets">
	<div class="ticket-select">
		<fieldset class="tickets">
			<div class="summary">
				<h1>Ticket sales are closed</h1>
				<p>{{ campaign['Not_on_sale_copy__c'] | safe }}</p>
			</div>
		</fieldset>
		{% include 'minnpost-events/includes/event-details.html' %}
	</div>
</section>