<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->
  
  <h1>Payment</h1>
  <p>You are purchasing <span class="quantity">{{ quantity }}</span> <span class="purchase-item" data-single="ticket" data-plural="tickets">ticket</span>{% if quantity != 1 %}s{% endif %}<span class="has_additional" data-text=", and adding an additional donation of $<span class='additional_donation'>{{ additional_donation }}</span>,"></span>{% if additional_donation %}, and adding an additional donation of $<span class="additional_donation">{{ additional_donation }}</span>,{% endif %} for a total of <strong>$<span class="calculated-amount">{{ amount }}</span></strong>. Please enter your billing information.</p>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>

    {% include 'includes/address-fields.html' %}

    <div class="form-item form-item--email-address">
      <label for="edit-email" class="required">Email Address: </label>
      <input type="email" id="edit-email" name="email" required value="{{ email }}">
      <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account to access member content and benefits</label>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label for="password">MinnPost.com Password: </label>
      <input type="password" name="password" id="password" maxlength="128">
    </div>

    {% include '/includes/card-or-ach.html' %}

    {% if additional_donation %}
    <fieldset class="acknowledgement">
      <legend><h4>Acknowlegement</h4></legend>
      <p>This purchase contains a donation, so it will be listed in our annual report. If you'd like to be listed in a different way than your payment information above, please enter it below.</p>
      <div class="form-item form-item--display-name">
        <div>
          <label for="display_as">Acknowlege Donation As:</label>
          <input type="text" id="display_as" name="display_as">
        </div>
        <div>
          <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Make this donation anonymously</label>
        </div>
      </div>
    </fieldset>
    {% endif %}

    <button type="submit" class="btn btn--submit give" autocomplete="off">Complete Purchase</button>

  </fieldset>

</section>