<section class="panel panel--form" id="panel--tickets">
	<div class="ticket-select">
		<fieldset class="tickets">
			<div class="summary">
				<h1>Tickets are sold out</h1>
				{{ campaign['Sold_out_copy__c'] | safe }}
			</div>
		</fieldset>
		{% include 'minnpost-events/includes/event-details.html' %}
	</div>
</section>